@import '~node_modules/modern-normalize/modern-normalize.css';

$background-color-primary: #FFB8CA;
$background-color-secondary: #FFFFFF;
$background-color-tertiary: #FFF5F6;
$background-color-quaternary:  #F0D1A5;
$background-color-quinary: #C2E297;
$background-color-senary: #E1E1E1;
$background-gradient-primary: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 27%,  #FFFFFF 27%,  #FFFFFF 100%);
$background-gradient-secondary: linear-gradient(to bottom,  #FFFFFF 0%,  #FFFFFF 27%, #fff5f6 27%, #fff5f6 100%);
$text-color-primary: #000000;
$text-color-secondary: #FFA5BA;
$text-color-tertiary: #907E82;
$color-primary: #D41443;
$color-secondary: #FAFAFA;
$color-tertiary: #D41342;
$color-quaternary: #D31342;
$color-quinary: #C7133E;
$color-senary: #FEA5BB;
$color-septenary: #D9D9D9;
$product-background-primary: #f88ca5;
$product-background-secondary: #e8c086;
$product-background-tertiary: #acd17b;
$accent: #ECEBEB;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$font-main: DM Sans, sans-serif;
$font-secondary: Titan One, cursive;





h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

section {
        padding-top: 60px;
        padding-bottom: 60px;
}


.card-set {
   
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
    
.container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        min-width: 320px;
        max-width: 767px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}