.header {
    background-color: $background-color-primary;
}

.header__nav--mobile {
    position: relative;
    display: flex;
}

.logo {
    display: inline-block;

    padding-top: 8px;
}

.mobile-menu__btn {
    z-index: 10;

    position: absolute;
    left: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-top: 23px;
    padding: 0;

    background-color: transparent;
    border: none;
    transform: translate(-100%, 0%);
    cursor: pointer;

    // @media screen and (min-width: 1200px) {
    //     display: none;
    // }
}

.mobile-menu__burger {
    opacity: 1;

    transition: opacity var(--transition);

    .mobile-menu__btn.is-open & {
        opacity: 0;
    }
}

.mobile-menu__close {
    opacity: 0;

    transition: opacity var(--transition);

    .mobile-menu__btn.is-open & {
        opacity: 1;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    padding: 60px 0;

    background-color: #E17992;

    transform: translateX(100%);
    transition: transform var(--transition);

    &.is-open {
        transform: translateX(0);
    }
}

.header__btn {
    display: flex;
    width: 209px;
    height: 44px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
    border-radius: 22px;
    border: none;
}

.greater-sign__icon {
    margin-left: 14px;
}

.mobile-menu__list {
    padding: 0;
    margin: 0;
    margin-top: 20px;

    :first-child {
        border-top: 1px solid #E18298;
    }

    list-style: none;
}

.mobile-menu__item {
    padding: 12px 20px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;

    border-bottom: 1px solid #E18298;
}


.nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__button {
    display: none;
}