 .section{
    @media screen and (max-width:767px) {
        background-image: linear-gradient(to top, #fff5f6 0%, #fff5f6 12%,  #FFFFFF 27%,  #FFFFFF 100%);
    }
}


.product__list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    flex-direction: column;
  
}
.product__title{
    margin-bottom: 148px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}
.product__text{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #FFA5BA;

}

.product__list-description{  
    width: 280px;
    height: 489px;
    background-color: #FFB8CA;
    border-radius: 24px;
    position: relative;
    
}
.product__list-description:not(:last-child){
    margin-bottom: 140px;
}

.product__list-description:nth-child(2){
    background-color:  #F0D1A5;
}
.product__list-description:nth-child(3){
    background-color:  #C2E297;
}


.product__list-description .product__list-description-cream{
    position: absolute;
}

.product__list-description::before{
    display: block;
    content: " ";
    height: 280px;
    transform: translateY(-50%);
    // background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }
.product__list-description-cream::before{
    background-image: url(../images/products/ice-cream_sm.png);
}
    
.product__list-description-coffee::before{
    background-image: url(../images/products/coffee_sm.png);
}
.product__list-description-milkshakes::before{
    background-image: url(../images/products/milkshakes_sm.png);
}



.product__list-title{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #FFFFFF; 
    transform: translateY(-140px);
    
    @media screen and (min-width:1200px) {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF; 
        
    }
}
.product__list-title::before{
    content: " ";
    position: absolute;
    transform: translate(55px, 55px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: -10px 0 0 #FFFFFF, 10px 0 0 #FFFFFF;
}


.product__list-text{
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52em;
    text-align: center;
    letter-spacing: 0.04em;
    transform: translateY(-140px);
    color: #FFFFFF;

}
.product__btn{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(115px, -110px);
}