.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-text--container {
  margin-bottom: 16px;
  background: #fafafa;

  @media screen and (min-width: 1200px) {
    margin-left: 116px;
    margin-right: 116px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 620px;
    height: 164px;
  }
}
.slider--text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  // width: 968px;
  // height: 138px;
  @media screen and (min-width: 1200px) {
    padding: 47px 109px 39px 109px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 47px;
    padding-top: 37px;
    padding-right: 55px;
    padding-bottom: 44px;
    padding-left: 51px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 43px;
    padding-left: 50px;
    padding-bottom: 17px;
    padding-right: 50px;
  }
}

.slider__icon {
  fill: #d31342;
}

.slider__icon-home {
  margin-right: 18px;
}

.slider--text {
  position: relative;
  z-index: 1;
  text-decoration-style: solid;
  text-decoration-color: #e1e1e1;
  text-align: center;
  letter-spacing: 0.04em;
  // background: linear-gradient(180deg, #e1e1e1, #e1e1e1 1px, #fafafa 0, #fafafa);

  // background: repeating-linear-gradient(
  //   #fafafa,
  //   #fafafa 1px,
  //   #e1e1e1 31px,
  //   #fafafa 31px,
  //   #e1e1e1 23px,
  //   #fafafa 1px
  // );
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 2.14;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 2.58;
    // padding-top: 43px;
    // padding-left: 65px;
    // padding-right: 50px;
    // padding-bottom: 17px;
  }
}
//   background: repeating-linear-gradient(rgba(225, 225, 225, 1));
.slider__stripes {
  position: absolute;
  top: 28.5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #e1e1e1, #e1e1e1 1px, #fafafa 0, #fafafa);
  background-size: 100% 30px;
}
.slider-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 85px;
  border-radius: 44px;
  margin-bottom: 16px;
}
.slider--client--text {
  text-align: center;
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.85;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
    line-height: 1.88%;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.86;
  }
}
