@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 767px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  padding-bottom: 40px;
  background-color: #FFF5F6;
}
@media screen and (max-width: 767px) {
  .about {
    background-image: url(/src/images/about/sectionbg_sm.png);
    background-repeat: no-repeat;
    background-size: 280px;
    background-position-x: 20;
    background-position-y: 71%;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(/src/images/about/sectionbg_sm@2x.png);
  }
}

.section-title__main-text {
  display: block;
  text-transform: uppercase;
  color: #FFA5BA;
  font-size: 18px;
  font-family: Titan One, cursive;
  font-weight: normal;
  line-height: 1.14em;
  margin-bottom: 15px;
  text-align: center;
}

.section-title__main-title {
  color: #D41443;
  text-transform: uppercase;
  font-family: Titan One, cursive;
  font-size: 34px;
  line-height: 1.14em;
  margin-bottom: 32px;
  text-align: center;
}

.info__thumb-img {
  margin-bottom: 40px;
}

.info-text {
  max-width: 217px;
}

.info-text__first-text {
  color: #000000;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.62em;
  margin-bottom: 40px;
}

.info-text__second-text {
  color: #907E82;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.62em;
  margin-bottom: 16px;
  padding-right: 10px;
}

.info-text__third-text {
  color: #907E82;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.62em;
  margin-bottom: 20px;
}

.info-text__btn {
  border: none;
  border-radius: 22px;
  background-color: #FFFFFF;
  width: 176px;
  height: 44px;
}

.info-text__btn-text {
  color: #D41443;
  font-size: 14px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

.info-text__btn-arrow {
  margin-left: 14px;
}

.advantages {
  padding-top: 0;
  background-color: #FFF5F6;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-list__item {
  max-width: 220px;
}
.advantages-list__item::before {
  display: block;
  content: "";
  height: 50px;
  background-repeat: no-repeat;
}

.advantages-list__title {
  color: #D41443;
  font-family: Titan One, cursive;
  font-size: 36px;
  line-height: 1.14em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advantages-list__text {
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  line-height: 1.7em;
  font-weight: 700;
}

.first-icon::before {
  background-image: url(/src/images/advantages/milk.sm.png);
}

.second-icon::before {
  margin-top: 30px;
  background-image: url(/src/images/advantages/apple.sm.png);
}

.third-icon::before {
  margin-top: 30px;
  background-image: url(/src/images/advantages/heart.sm.png);
}

/* ---- grid ---- */
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .container__gallery {
    padding: 0;
  }
}

.grid {
  background: #EEE;
  max-width: 1013px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .grid {
    gap: 2px;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    gap: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    gap: 8px;
  }
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-column {
  display: flex;
  flex-direction: column;
  max-width: 44px;
  float: left;
}
@media screen and (min-width: 768px) {
  .grid-column {
    max-width: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-column {
    max-width: 138px;
  }
}

.grid-column--center {
  max-width: 90px;
}
@media screen and (min-width: 768px) {
  .grid-column--center {
    max-width: 215px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-column--center {
    max-width: 283px;
  }
}

.grid-item {
  max-width: 100%;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0deg, 0%, 0%, 0.5);
  border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .grid-item + .grid-item {
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 768px) {
  .grid-item + .grid-item {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-item + .grid-item {
    margin-bottom: 8px;
  }
}

.grid-item--width2 {
  width: 320px;
}

.grid-item--width3 {
  width: 480px;
}

.grid-item--width4 {
  width: 640px;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}

.contacts {
  background-color: #FFF5F6;
}

.contacts__item {
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 32px 40px;
}

.contacts__title {
  width: 80px;
  height: 16px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18, 6;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #F0D1A5;
  border-radius: 4px;
  padding: 15;
}

.contacts__title-green {
  background: #C2E297;
}

.contacts__city {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18, 6;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__text {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15;
  color: #907E82;
  border-bottom: 1px solid #E1E1E1;
}

.contacts__day {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18, 6;
  color: #000000;
}

.contacts__time {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18, 6;
  color: #FFA5BA;
  border-bottom: 1px solid #E1E1E1;
}

.contacts__link {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15;
  color: #907E82;
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #D31342;
}

.btn {
  border-radius: 22px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 13, 1;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-w {
  fill: #FFFFFF;
}

.contacts__btn-red {
  background-color: #D31342;
  color: #FAFAFA;
  margin-bottom: 10px;
}

.contacts__btn-white {
  color: #D31342;
  background-color: #FFFFFF;
}/*# sourceMappingURL=index.css.map */