<section class="about">
    <div class="container">
        <div class="section-title">
            <span class="section-title__main-text">tradition and love</span>
            <h2 class="section-title__main-title">how it’s made?</h2>
        </div>
    
        <div class="info">
            <div class="info__thumb-img">
                <img src="" alt="">
            </div>
            <div class="info__text">
                <p>
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p>
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <a class="info__link" href="">Read more</a>
            </div>
        </div>
    </div>
</section>