<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">advatages</h2>
        <ul>
            <li>
                <img src="" alt="">
                <h2>721</h2>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <img src="" alt="">
                <h2>16KG</h2>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <img src="" alt="">
                <h2>84</h2>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>