<header class="header">
  <div class="container">
    <div class="header__nav--mobile">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" width="199" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu__btn" type="button" data-menu-button>
        <svg class="mobile-menu__icon" width="20" height="14">
          <use
            class="mobile-menu__burger"
            href="./images/sprite.svg#icon-burger"
          ></use>
          <use
            class="mobile-menu__close"
            href="./images/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">Home</li>
        <li class="nav__item">About us</li>
        <li class="nav__item">How it’s made?</li>
        <li class="nav__item">Our products</li>
        <li class="nav__item">Contact</li>
      </ul>
    </nav>
    <button class="header__button" type="button">
      Buy now
      <svg width="10" height="10">
        <use></use>
      </svg>
    </button>
  </div>
</header>

<!-- mobile menu -->
<div class="mobile-menu" data-menu>
  <button class="header__btn" type="button">
    Buy now
    <svg class="greater-sign__icon" width="8" height="11">
      <use href="./images/sprite.svg#icon-btnarrow"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">Home</li>
    <li class="mobile-menu__item">About us</li>
    <li class="mobile-menu__item">How it’s made?</li>
    <li class="mobile-menu__item">Our products</li>
    <li class="mobile-menu__item">Contact</li>
  </ul>
</div>
