<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream <br />
      made with <br /><span class="hero__title--red">passion</span>
    </h1>
    <ul class="hero__list list">
      <li class="hero__item">
        <button class="hero__button hero__button--red" type="button">
          Products
        </button>
      </li>
      <li class="hero__item">
        <button class="hero__button hero__button--white" type="button">
          How it’s made?
        </button>
      </li>
    </ul>
    <img
      class="hero__img"
      src="./images/header/IceCream_sm.png"
      alt="ice_cream"
    />
    <div class="hero__figure"></div>
  </div>
</section>
