<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <img src="./images/header/IceCream_sm.png" alt="" />
    <ul class="hero__list">
      <li class="hero__item">
        <p><span>16</span>cafes</p>
      </li>
      <li class="hero__item">
        <p><span>23</span>food trucks</p>
      </li>
    </ul>
    <button class="button hero__button hero__button--red" type="button">
      Products
    </button>
    <button class="button hero__button hero__button--white" type="button">
      How it’s made?
    </button>
    <img src="./images/header/milk_md.png" alt="" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <button class="button hero__button hero__button--white" type="button">
      <svg width="10" height="10">
        <use></use>
      </svg>
    </button>
    <img src="./images/header/lady_lg.png" alt="" />
  </div>
</section>
