<section class="section">
    <div class="container prodact">
        <p class="prodact__text">100% natural</p>
        <h2 class="prodact__title">products</h2>
        <ul class="prodact__list list">
            <li class="prodact__list-description">
                <h3 class="prodact__list-title">ice cream</h3>
                <p class="prodact__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button></button>
            </li>
            <li class="prodact__list-description">
                <h3 class="prodact__list-title">ice coffee</h3>
                <p class="prodact__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button></button>
            </li>
            <li class="prodact__list-description">
                <h3 class="prodact__list-title">milkshakes</h3>
                <p class="prodact__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button></button>
            </li>

        </ul>
    </div>
</section>
 
    