<section class="section__testimonials">
  <ul class="slider container">
    <!-- <h1 class="visually-hidden">slider</h1> -->
    <li class="slider__item">
      <img
        class="slider-image"
        src="./images/reviews/avatar-1.jpg"
        alt="client"
      />

      <div class="slider-text--container">
        <div class="slider--text-box">
          <p class="slider--text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>

          <!-- <div class="slider__stripes"></div> -->
        </div>
      </div>
      <div class="slider-point"></div>
      <p class="slider--client--text">Emily, Los Angeles</p>
      <div class="slider-point-home"></div>
    </li>

    <li class="slider__item">
      <img
        class="slider-image"
        src="./images/reviews/avatar-2.jpg"
        alt="client"
      />
      <div class="slider-text--container">
        <div class="slider--text-box">
          <p class="slider--text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <!-- <div class="slider__stripes"></div> -->
        </div>
      </div>
      <div class="slider-point"></div>
      <p class="slider--client--text">Jenifer, New York</p>
      <div class="slider-point-home"></div>
    </li>

    <li class="slider__item">
      <img
        class="slider-image"
        src="./images/reviews/avatar-3.jpg"
        alt="client"
      />

      <div class="slider-text--container">
        <div class="slider--text-box">
          <p class="slider--text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <!-- <div class="slider__stripes"></div> -->
        </div>
      </div>

      <div class="slider-point"></div>
      <p class="slider--client--text">Lola, Chicago</p>
      <div class="slider-point-home"></div>
    </li>
  </ul>
</section>
